.smallText {
	font-size: 14px;
	line-height: 17px;
}

.title {
	font-weight: 700;
	font-size: 56px;
	line-height: 68px;
	color: #FFFFFF;
	margin-bottom: 8px;
}

.subtitle {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #D5D4D8;
}

.smallGreyText {
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #555555;
	white-space: pre;
}

.button {
	width: 224px;
	height: 64px;
	margin-bottom: 40px;
}